/* styles/Cart.module.css */

.container {
    margin: 0 auto;
    padding: 20px;
   
    border-radius: 8px;
  }
  .container1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 40px;
    border-radius: 10px;
    align-items: flex-start;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    background-color: #F3F6FB;
    padding: 20px 10px;
    border-radius: 10px;
  }
  
  .chainName {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .optimismIcon {
    margin-right: 5px;
  }
  
  .amountInputWrapper {
    display: flex;
    align-items: center;
  }
  
  .amountInput {
    width: 100px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .applyButton {
    margin-left: 10px;
    padding: 5px 10px;
    font-weight: 700;
    color: #2EDAA7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .items {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
  }
  
  .item {
    display: flex;
    background-color: #F3F6FB;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    border: 1px solid #e0e0e0;
  }
  
  .image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
  }
  .image1 {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .waletContainer{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    gap: 10px;
  font-weight: bold;
  }
  .details {
    flex: 1;
  }
  
  .title {
    font-size: 1.1em;
    margin: 0;
  }
  
  .description {
    font-size: 0.9em;
    color: #555;
    margin: 5px 0;
    width: 60%;
  }
  
  .donation {
    display: flex;
    align-items: center;
  }
  
  .donationInput {
    width: 60px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .price {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #d9534f;
    font-size: 1.2em;
  }
  
  .summary {
    margin-top: 30px;
    padding: 15px;
    background-color: #F3F6FB;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
  }
  
  .summaryTitle {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .contribution {
    margin-bottom: 5px;
  }
  
  .optimism {
    font-weight: bold;
  }
  
  .total {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background: linear-gradient(136.86deg, #4459a9 5.64%, #402383 118.93%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .note {
    margin-top: 10px;
    font-size: 0.8em;
    color: #777;
  }
  .summaryContainer {
   flex: 1;
    padding: 20px;
    height: auto;
    background-color: #F3F6FB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e0e0e0;
    font-family: 'Arial', sans-serif;
  }
  
  .summaryTitle {
    font-size: 1.25rem;
    margin-bottom: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #C5C8D0;
    width: 100%;
  }
  
  .contributionSection {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    font-size: 0.9rem;
  }
  
  .networkInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
 padding: 10px 0px;

    font-weight: bold;
    font-size: 1rem;
  }
  
  .networkIcon {
    color: #f44336;
    font-size: 1.5rem;
    margin-right: 5px;
  }
  
  .networkName {
    font-size: 1rem;
    margin-right: 5px;
  }
  
  .contributionAmount {
    font-size: 1rem;
    color: #000;
  }
  
  .totalSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(136.86deg, #4459a9 5.64%, #402383 118.93%);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }
  