.view_card_cont {
  background: linear-gradient(99.87deg, #0f1222 26.62%, rgba(0, 0, 0, 0) 93.5%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54));
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  border-radius: 8px;
  position: relative;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.view_card_cont h3 {
  font-size: 24px;
  font-weight: 700;
  width: fit-content;
  margin-top: 4px;
  color: #f3f6fb;
}
.view_card_cont .description {
  /* font-family: Manrope; */
  margin-top: 10px;
  width: 75%;
  font-size: 16px;
  font-weight: 400;
  color: #f0f0f0;
}
.view_card_cont .description span {
  font-weight: 800;
}
.view_card_cont .jullery {
  width: 74px;
  height: 74px;
  position: absolute;
  right: 0;
  margin-top: 6px;
}
.last_Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns__cont {
  width: fit-content;
  display: flex;
}

@media (max-width:550px) {
  .view_card_cont {
    background: linear-gradient(99.87deg, #0f1222 26.62%, rgba(0, 0, 0, 0) 93.5%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54));
    width: 100%;
    min-height: 230px;
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex-direction: column;
    justify-content: space-between;
  }
  .view_card_cont .description {
    /* font-family: Manrope; */
    margin-top: 10px;
    width: 50%;
    font-size: 16px;
    font-weight: 400;
    color: #f0f0f0;
  }
  .view_card_cont .jullery {
    width: auto;
    height: 74px;
    position: absolute;
    right: 0;
    margin-top: 6px;
  }
}
