.cont {
  display: flex;
  gap: 5px;
}

.btn {
  width: 113px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
}

.left_btn {
  
  border-radius: 8px 0px 0px 8px;
}

.btn_background {
  color: var(--secondary-color);
  background: linear-gradient(136.86deg, #4459a9 5.64%, #402383 118.93%);
}
.btn_background1 {
  background: var(--third-color);
}

.right_btn {
  border-radius: 0px 8px 8px 0px;
}
