.main_Title {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.main_Title h2 {
  width: fit-content;
}
.process_cont {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
}
.process_cont button {
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  background-color: #ebe9e9;
}
.process_cont button img {
  width: 16px;
  height: 16px;
}
.filter__btn__cont {
  position: relative;
  z-index: 99;
}
.dropdown {
  background-color: #ebe9e9;
  border-radius: 4px;
  text-align: center;
  display: none;
  position: absolute;
  width: 100%;
}
.dropdown ul li p {
  cursor: pointer;
}
.divide {
  display: grid;
  grid-template-columns: repeat(auto-fill, 343px);

  gap: 17px;
}
.active {
  display: block;
}


/* style for withdrawal page */
/* WithdrawalRequestForm.css */
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  background-color: #fff;
}

.withdrawal_form {
  background-color: #F3F6FB;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.form_group {
  margin-bottom: 15px;
}

.form_group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form_group input,
.form_group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.form_group input:disabled {
  background-color: #f0f0f0;
}

.form_group textarea {
  height: 100px;
  resize: none;
}

.submit_button {
  padding: 10px;
  background: linear-gradient(136.86deg, #4459a9 5.64%, #402383 118.93%);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.error {
  color: #ff0000;
  font-size: 0.875em;
  margin-top: 5px;
}

