.summary-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
    font-weight: bold;
  }
  
  .summary-card {
    background: linear-gradient(99.87deg, #0f1222 26.62%, rgba(0, 0, 0, 0) 93.5%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    color: var(--secondary-color);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex: 1;
    margin: 0 10px;
  }
  
  /* Container for the table with horizontal scrolling */
.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  margin-top: 20px;
  width: 100%; /* Full width of the parent container */
  max-width: 100%; 
}

/* Ensure the table width is enough to accommodate its content */
.table {
  width: 100%;
  min-width: 650px; /* Minimum width for the table */
  border-collapse: collapse;
  max-width: 100%;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.table th {
  background-color: #f0f0f0;
  color: #484964;
  font-weight: bold;
}

.table td {
  color: #525252;
  font-size: 14px;
}

/* Summary card styling */
.summary-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 40px;
  width: 100%;
  font-weight: bold;
  min-height: 200px;
}

.summary-card {
  background: linear-gradient(99.87deg, #0f1222 26.62%, rgba(0, 0, 0, 0) 93.5%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  color: var(--secondary-color);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.vote-btn {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  
}

.vote-btn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.round-info {
  display: flex;
  align-items: center;
}

.round-icon {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.round-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
  display: inline-block;
  border-bottom: 3px solid black;
}

.round-time {
  color: grey;
  font-size: 14px;
}

.transaction-link {
  display: flex;
  align-items: center;
}

  