@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0f1222;
  --secondary-color: #fff;
  --third-color: #f3f6fb;
  --fourth-color: #7b78ff;
  --fivth-color: #12d69b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}


/* main {
  width: 1064px;
  margin: 0 auto;
} */
button {
  border: none;
  outline: none;
  cursor: pointer;
}
img {
  object-fit: cover;
}
.flex {
  display: flex;
  align-items: center;
}
input {
  border: none;
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
}

/* ::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.2);
  width: 5px;
  height: 583px;
  border-radius: 4px;
  opacity: 0.2;
} */

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  width: 5px;
  height: 68px;

  border-radius: 4px;
}

.main__Wrapper {
  display: grid;
  grid-template-columns: 288px 1fr;
  height: 100vh; /* Makes the layout take full viewport height */
}

@media (max-width: 1024px) {
  .main__Wrapper {
    grid-template-columns: 240px 1fr; /* Adjust the width of the aside for smaller screens */
  }
}

@media (max-width: 768px) {
  .main__Wrapper {
    grid-template-columns: 200px 1fr; /* Further adjust the aside width */
  }
}

@media (max-width: 550px) {
  .main__Wrapper {
    grid-template-columns: 1fr; /* Full width for the main content */
  }
  .aside {
    display: none; /* Hide the aside component */
  }
}

    .custom-gradient-bg {
      background-image: linear-gradient(99.87deg, #0f1222 26.62%, rgba(0, 0, 0, 0) 93.5%),
                        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }