.view_cont {
  height: 230px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15px;
  gap: 15px;
}
.last_Cont {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
  width: 985px;
}
@media (max-width:550px) {
  .view_cont {
    padding: 0px 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 15px;
    gap: 15px;
  }
}
