.header__cont {
  margin: 34px 0;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 50px;
}
.input__cont {
  position: relative;
}
.icon__search {
  position: absolute;
  right: 12px;
  top: 25%;
}
.header__cont input {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  background-color: var(--third-color);
  padding: 12px;
  color: #949aaf;
  font-size: 14px;
}
.header__cont input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #949aaf;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.divide {
  display: flex;
  gap: 24px;
  align-items: center;
}
.divide > div {
  cursor: pointer;
}
.divide > div:not(:last-child)::after {
  content: "";
  display: inline-block;
  margin-left: 20px; /* Adjust this to match the gap */
  border: 1px solid #dbe1e8; /* Adds border after the gap */
  height: 34px;
}
.cart::after {
  content: none;
  border: none !important;
}
.buttonGroup {
  display: flex;
}
.buttonGroup p {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.8em 1.3em 0.8em 1.3em;
  font-size: 1rem;
  font-weight: 600;
  width: 113px;
}
.buttonGroup .leftBtn {
  border-radius: 8px 0 0px 8px;
  border: 1px solid;
}
.buttonGroup .rightBtn {
  background-color: var(--third-color);
  border-radius: 0 8px 8px 0;
  justify-content: center;
}
